<div class="latest-news shadow bg-white">
    <img class="w-100 ratio-1x1 object-fit-cover" src="./assets/media/images/en/components/latest-news.jpg" alt="">
    <div class="d-flex gap-3 p-3 flex-column">
        <div class="d-flex gap-6 align-items-center">
            <span class="fs-normal bg-primary rounded-1 p-2 text-button-text"> <%- t.components.latestNews.category %></span>
            <div class="text-decoration-none d-flex gap-2 align-items-center">
                <i class="fa-solid fa-calendar text-text fs-normal"></i>
                <span class="text-text fs-normal"> <%- t.components.latestNews.date %></span>
            </div>
        </div>
        <h3 class="fs-title fw-bold text-title-text mb-0"><%- t.components.latestNews.title %></h3>
        <a href="" class="fs-title fw-bold text-decoration-none text-decoration-none d-flex gap-2 align-items-center">
            <span class="fs-big fw-semibold text-button-text transition"><%- t.components.latestNews.txtButton %></span>
            <i class="fa-regular fa-arrow-right fs-normal"></i>
        </a>
    </div>
</div>