<div class="categories d-flex justify-content-between border-bottom pt-2 pb-2 align-items-center">
    <span class="fs-title fw-semibold text-title-text mb-0 rounded-1"><%- categories.name %></span>
    <span class="fs-title text-text mb-0 rounded-1 bg-secondary d-flex justify-content-center"><%- categories.number %></span>
</div>