<%- include('../../../layouts/component/head.ejs' , {title: "component", addCount: 1}); -%>

<div class="w-60">
    <%- include('./content.ejs', {statsCounter: t.components.statsCounter}); -%>
</div>

<%- include('../../../layouts/component/foot.ejs'); -%>