<div class="project-card shadow bg-white image">
    <div class="image p-3">
    </div>
    <div class="d-flex gap-3 p-3 flex-row align-items-center justify-content-between">
        <div class="d-flex gap-3 flex-column">
            <h3 class="fs-title fw-bold text-title-text mb-0"><%- serviceWork.title %></h3>
            <div>
                <i class="fa-solid fa-location-dot"></i>
                <span class="text-text fs-normal"> <%- serviceWork.location %></span>
            </div>
        </div>
        
        
        <a href="" class="fs-title fw-bold card-button transition">
            <i class="fa-solid fa-arrow-right-long text-primary transition"></i>
        </a>
    </div>
</div>