<div class="service-list d-flex justify-content-between border-bottom pt-2 pb-2 align-items-center ps-1 pe-1">
    <span class="fs-title fw-semibold text-title-text mb-0 rounded-1"><%- serviceList.name %></span>
    <i class="fa-regular fa-arrow-right d-flex justify-content-center bg-secondary align-items-center"></i>
</div>