<div class="account-features d-flex flex-column align-items-start bg-color w-100 px-4">
    <h3>Build Your Future With Buildex</h3>
    <span>Create an account to access exclusive features and manage your projects easily.</span>
    <div class="d-flex flex-row align-items-center gap-4">
        <div class="icon bg-white rounded-1 d-flex align-items-center justify-content-center">
            <img src="<%- getMedia(lang, 'components/icon1.png', 'images') %>" class="w-70 h-70">
        </div>
        <div class="d-flex flex-column align-items-start">
            <h4>Manage Your Projects</h4>
            <span class="fs-6">Organize and track all your construction projects in one place.</span>
        </div>
    </div>
</div>