.news-box a:hover {
    color: var(--bs-button);
}

.news-box .image {
    background-image: url(../../../assets/media/images/en/components/news.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    aspect-ratio: 2/1;
}



