<%- include('../../layouts/component/head.ejs' , {title: "component", addCount: 0}); -%>

<div class="w-30">
    <%- include('./content.ejs', {bannerCTA: t.components.bannerCTA}); -%> 
</div>

<%- include('../../layouts/component/foot.ejs'); -%>