<div id="bannerCTA"  class="container-fluid d-flex flex-column bg-primary g-2 px-5 py-7">
    <img class="icon" src="<%- getMedia(lang, 'components/banner-icon.png', 'images') %>" alt="">
    <h5 class="fs-title"><%- iconBannerCTA.text %></h5>
    <h3 class="fs-mid-title"><%- iconBannerCTA.title %></h3>
    <a id="btnCTA" class="bg-black primary-color d-flex flex-row align-items-center g-4" href="#">
        <span class="fs-big"><%- iconBannerCTA.buttonText %></span>
        <i class="fas fa-arrow-right-long fs-small"></i>
    </a>
</div>