<!DOCTYPE html>
<html dir="ltr" lang="">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>component</title>
    <link rel="icon" type="image/png" href="./assets/media/images/logo-web3.webp">
    <base href="../../../../">
    <link rel="stylesheet" href="./assets/icons/fontawesome/css/all.min.css">
    <link rel="stylesheet" href="./assets/vendors/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="./assets/css/components.min.css">
    <link rel="stylesheet" href="./assets/css/style.min.css">
</head>

<body class="font-fa-primary">
<div class="w-25">
    
    <div class="subscribe border-0 shadow-sm rounded-3 px-4 d-flex flex-column py-4 gap-2" >

        <p class="fw-bold fs-mid-title fw-bold">عضویت در خبرنامه ما</p>

        <span class="fw-semibold text-uppercase small text-primary fs-title">عضویت</span>

        <span class="">جدیدترین به‌روزرسانی‌ها، اخبار و پیشنهادها را مستقیماً در صندوق ورودی خود دریافت کنید.</span>

        <div class="d-flex w-100">

            <input type="email" class="rounded-start-2 py-2 w-75 text-text" placeholder="آدرس ایمیل شما">

            <button class="px-4 w-25 rounded-end bg-primary">
                <i class="fa-solid fa-arrow-right"></i>
            </button>

        </div>

        <div class="">

            <input class="form-check-input" type="checkbox" id="policy">

            <label class="" for="policy">با سیاست حفظ حریم خصوصی موافقم</label>

        </div>

    </div>
</div>

    <script src="./assets/vendors/swiper/swiper-bundle-min.js"></script>
    <script src="./assets/js/mizchin.min.js"></script>
</body>

</html>