<div class="services-card d-flex flex-column align-items-start gap-3 bg-white shadow rounded-1 px-6 py-6">
    <img src="<%- getMedia(lang, 'components/card1_construction_management.png', 'images') %>" class="img-size">
    <h3 class="fs-mid-title fw-semibold"><%- servicesCard.title %></h3>
    <span class="fs-title"><%- servicesCard.text %></span>
    <a href="" class="d-flex align-items-center gap-2 mt-4 text-decoration-none">
        <span class="fs-big fw-bold text-button-text"><%- servicesCard.button %></span>
        <i class="fa-solid fa-arrow-right-long text-primary"></i>
    </a>
</div>