<div class="project-list d-flex gap-4 align-items-center">
    <i class="fa-solid fa-check bg-primary d-flex align-items-center justify-content-center rounded-circle"></i>
     <span class="fs-big text-title-text fw-semibold"><%- projectList.description %></span>
</div>