<%- include('../../layouts/component/head.ejs' , {title: "component", addCount: 0}); -%>

<div class="container">
    <%- include('./content.ejs', {secondCycleCards: t.components.secondCycleCards}); -%> 
</div>

<%- include('../../layouts/component/foot.ejs'); -%>