<%- include('../../layouts/component/head.ejs' , {title: "component", addCount: 0}); -%>

<div class="w-60">
    <%- include('./content.ejs', {historyTimeline: t.components.historyTimeline}); -%>
</div>

<%- include('../../layouts/component/foot.ejs'); -%>