<div class="team-card shadow bg-white d-flex flex-column gap-3">
    <img class="w-100 ratio-1x1 object-fit-cover" src="<%- getMedia(lang, 'components/teams.jpg', 'images') %>" alt="">
    <div class="d-flex flex-column gap-3 p-3">
        <h3 class="fs-title fw-bold text-title-text mb-0"><%- teamCard.name %></h3>
        <span class="fs-big fw-semibold text-text"><%- teamCard.job %></span>
        <div class="d-flex gap-3 mt-2">
            <i class="fa-brands fa-facebook-f bg-secondary rounded-circle p-1 d-flex align-items-center justify-content-center fs-normal"></i>
            <i class="fa-brands fa-twitter bg-secondary rounded-circle p-1 d-flex align-items-center justify-content-center fs-normal"></i>
            <i class="fa-brands fa-facebook-f bg-secondary rounded-circle p-1 d-flex align-items-center justify-content-center fs-normal"></i>
            <i class="fa-brands fa-instagram bg-secondary rounded-circle p-1 d-flex align-items-center justify-content-center fs-normal"></i>
        </div>
    </div>
</div>
