<div class="core-services-card d-flex flex-column align-items-start gap-3 bg-card shadow rounded-1 px-6 py-6">
    <img src="<%- getMedia(lang, 'components/card1_construction_management.png', 'images') %>" class="img-size">
    <h3 class="fs-mid-title fw-semibold fw-bold"><%- coreServicesCard.title %></h3>
    <span class="fs-title"><%- coreServicesCard.text %></span>
    <a href="" class="d-flex align-items-center gap-2 mt-4 text-decoration-none card-button">
        <span class="fs-big fw-bold text-button-text transition"><%- coreServicesCard.button %></span>
        <i class="fa-solid fa-arrow-right-long text-color transition"></i>
    </a>
</div> 