@use "../../miz/sass/global-functions/_images" as *;
@use "../../miz/sass/global-functions/_colors" as *;


#blog-hero {
    min-height: 500px !important;
    margin-bottom: 2rem;
}

#weblogs .number {
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#weblogs  .text-limit-3 {
    display: -webkit-box;
    -webkit-line-clamp: 3; 
    -webkit-box-orient: vertical;
    overflow: hidden;
}

#weblogs  .w-75 {
    width: 75%;
}

#weblogs  .select-box {
    position: relative;
    width: 250px;
   
}

@media (max-width: 1200px) {
    #weblogs .wrapper {
        width: 100% !important;
    }
}