<%- include('../../../layouts/component/head.ejs' , {title: "component", addCount: 1}); -%>

<div class="w-30">
    <%- include('./content.ejs', {popularStyle: t.components.pricingTable.popularStyle}); -%>
</div>

<%- include('../../../layouts/component/foot.ejs'); -%>