


    <div class="quote-card bg-dark rounded-3 shadow-lg gap-2 px-5 py-3 d-flex flex-column align-items-center justify-content-between flex-sm-column flex-md-column flex-lg-row ">

        <div class="d-flex align-items-center gap-4">
                
            <i class="primary-color fs-1 fa-solid fa-city"></i>

            <div class="d-flex flex-column gap-1">

                <p class="primary-color fw-bold small text-uppercase">Have A Project In Mind?</p>

                <h2 class="secondary-color fw-bold">Let's Build Something Great Together</h2>

                <p class="text-color">Share your vision with us and we'll bring it to life.</p>

            </div>

        </div>

        <div class="d-flex align-items-center justify-content-center">

            <a href="#" class="quote-btn bg-primary-color fw-bold px-4 py-3 rounded-2 text-decoration-none text-reset d-flex align-items-center gap-3 text-nowrap">

                <span class="">GET A FREE QUOTE</span>

                <i class="fa-solid fa-arrow-right"></i>

            </a>

        </div>

    </div>
