<%- include('../layouts/components/head.ejs' , {title: 'miz'}); %>
    
    <footer class="footer py-5 bg-on-primary-color secondary-color">
        <div class="container">

            <div class="row gap-lg-0 gap-md-3">

                
                <div class=" col-lg-3 col-md-6">

                    <img src="../../../assets/media/images/logo.png" class="mb-4" width="210">

                    <p class="footer-text">
                        We are a leading construction company providing high-quality
                        services across residential, commercial and industrial sectors worldwide.
                    </p>

                    <div class="social mt-4 d-flex align-items-center gap-2">

                        <a href="#" class="text-decoration-none text-reset">
                            <i class="fab fa-facebook-f py-2 px-2 rounded bg-secondary-light-color"></i>
                        </a>

                        <a href="#" class="text-decoration-none text-reset">
                            <i class="fab fa-linkedin-in py-2 px-2 rounded bg-secondary-light-color"></i>
                        </a>

                        <a href="#" class="text-decoration-none text-reset">
                            <i class="fab fa-instagram py-2 px-2 rounded bg-secondary-light-color"></i>
                        </a>

                        <a href="#" class="text-decoration-none text-reset">
                            <i class="fab fa-youtube py-2 px-2 rounded bg-secondary-light-color"></i>
                        </a>

                    </div>

                </div>

                
                <div class="px-0 col-lg-2 col-md-5">

                    <h6 class="d-flex flex-column gap-1 fw-bold mb-4">QUICK LINKS</h6>

                    <ul class="list-unstyled d-flex flex-column gap-1">

                        <li>
                            <a href="#" class="text-decoration-none text-reset">Home</a>
                        </li>

                        <li>
                            <a href="#" class="text-decoration-none text-reset">About Us</a>
                        </li>

                        <li>
                            <a href="#" class="text-decoration-none text-reset">Services</a>
                        </li>

                        <li>
                            <a href="#" class="text-decoration-none text-reset">Projects</a>
                        </li>

                        <li>
                            <a href="#" class="text-decoration-none text-reset">Blog</a>
                        </li>

                        <li>
                            <a href="#" class="text-decoration-none text-reset">Contact Us</a>
                        </li>

                    </ul>

                </div>

                
                <div class="px-0 col-lg-2 col-md-6">

                    <h6 class="d-flex flex-column gap-1 fw-bold mb-4">OUR SERVICES</h6>

                    <ul class="list-unstyled d-flex flex-column gap-1">
                        <li>
                            <a href="#" class="text-decoration-none text-reset">Construction Management</a>
                        </li>
                        <li>
                            <a href="#" class="text-decoration-none text-reset">Design & Build</a>
                        </li>
                        <li>
                            <a href="#" class="text-decoration-none text-reset">Renovation</a>
                        </li>
                        <li>
                            <a href="#" class="text-decoration-none text-reset">Interior Design</a>
                        </li>
                        <li>
                            <a href="#" class="text-decoration-none text-reset">Project Consulting</a>
                        </li>
                    </ul>

                </div>

                
                <div class="px-0 col-lg-3 col-md-5">

                    <h6 class="d-flex flex-column gap-1 fw-bold mb-4">CONTACT INFO</h6>

                    <ul class="list-unstyled d-flex flex-column gap-2">
                        <li class="d-flex gap-2 align-items-baseline">
                            <i class="primary-color fa-solid fa-location"></i>
                            <div class="d-flex flex-column justify-content-start">
                                <span class="">123 Construction Ave,</span>
                                <span class="">New York, NY 10001, USA</span>
                            </div>
                        </li>
                        <li class="d-flex gap-2 align-items-baseline">
                            <i class="primary-color fa-solid fa-light fa-phone"></i>
                            <span class="">+1 212 555 7890</span>
                        </li>
                        <li class="d-flex gap-2 align-items-baseline">
                            <i class="primary-color fa-solid fa-envelope"></i>
                            <span class="">info@buildex.com</span>
                        </li>
                        <li class="d-flex gap-2 align-items-baseline">
                            <i class="primary-color fa-solid fa-clock"></i>
                            <span  class="">Mon – Sat: 8:00 AM – 6:00 PM</span>
                        </li>
                    </ul>


                </div>

            
                <div class="px-0 col-lg-2 col-md-12">

                    <h6 class="d-flex flex-column gap-1 fw-bold mb-4">RECENT PROJECTS</h6>

                    <div class="px-0 row g-1">

                        <a href="#" class="col-4">
                            <img src="../../../assets/media/images/ChatGPT1.png" class="img-fluid rounded w-100">
                        </a>

                        <a href="#" class="col-4">
                            <img src="../../../assets/media/images/ChatGPT2.png" class="img-fluid rounded w-100">
                        </a>

                        <a href="#" class="col-4">
                            <img src="../../../assets/media/images/ChatGPT3.png" class="img-fluid rounded w-100">
                        </a>

                        <a href="#" class="col-4">
                            <img src="../../../assets/media/images/ChatGPT4.png" class="img-fluid rounded w-100">
                        </a>

                        <a href="#" class="col-4">
                            <img src="../../../assets/media/images/ChatGPT5.png" class="img-fluid rounded w-100">
                        </a>

                        <a href="#" class="col-4">
                            <img src="../../../assets/media/images/ChatGPT6.png" class="img-fluid rounded w-100">
                        </a>

                    </div>

                </div>

            </div>

            <hr>

            <div class="copyright">

                © 2024 Buildex Construction. All Rights Reserved.

            </div>

        </div>
    </footer>

<%- include('../layouts/components/foot.ejs' , {title: 'miz'}); %>
