<%- include('../../layouts/component/head.ejs' , {title: "component", addCount: 0}); -%>

<div class="w-30">
    <%- include('./content.ejs', {accountFeatures: t.components.accountFeatures}); -%>
</div>

<<<<<<< HEAD:ejs/app/components/account-features/index.ejs
<%- include('../../layouts/component/foot.ejs'); -%> 
=======
<%- include('../../layouts/component/foot.ejs'); -%>
>>>>>>> da9339d420b0aa66ff1c6584305ff8ff89f05b70:ejs/app/components/footer/index.ejs
