<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="account-features d-flex flex-column align-items-start">
        <h3>Build Your Future With Buildex</h3>
        <span>Create an account to access exclusive features and manage your projects easily.</span>
        <div class="d-flex flex-row align-items-center">
            <img class="icon" src="">
            <div class="d-flex flex-column align-items-start">
                <h4>Manage Your Projects</h4>
                <span>Organize and track all your construction projects in one place.</span>
            </div>
        </div>
    </div>
</body>
</html>