<div class="pricing-area d-flex align-items-center flex-column">
    <span class="rounded-circle border-border-color border d-flex align-items-center justify-content-center"><%- pricingArea.number %></span>
    <h3 class="fs-title fw-bold text-title-text mb-0"><%- pricingArea.title %></h3>
    <p class="fs-big text-text lh-lg mb-0"><%- pricingArea.subtitle %></p>
</div>