<div class="pricing-area d-flex align-items-center flex-column gap-2">
    <span class="rounded-circle border-border-color border d-flex align-items-center justify-content-center"><%- t.components.pricingArea.number %></span>
    <h3 class="fs-title fw-bold text-title-text"><%- t.components.pricingArea.title %></h3>
    <p class="fs-big text-text"><%- t.components.pricingArea.subtitle %></p>
</div>