<div id="popularPost" class="container-fluid d-flex flex-column gap-2 rounded-2 p-6">
    <h3 class="fs-normal text-section-title-text"><%- popularPosts.sectionTitle %></h3>
    <div class="line"></div>
    <div class="post-cards">
        <div class="card container-fluid d-flex flex-row">
            <img src="<%- getMedia(lang, 'components/post-image-1.png', 'images') %>" alt="" class="card-image w-20">
            <div class="d-flex flex-column flex-grow-1 gap-2">
                <h4 class="fs-normal"><%- popularPosts.itemOne.title</h4>
                <div class="d-flex gap-2">
                    <i class="fa-regular fa-calendar-check"></i>
                    <span><%- popularPosts.itemOne.date</span>
                </div>cd 
            </div>
        </div>
    </div>
</div>