<%- include('../../layouts/component/head.ejs' , {title: "component", addCount: 0}); -%>

<div class="w-25">
    <%- include('./content.ejs', {popularPosts: t.components.popularPosts}); -%> 
</div>

<%- include('../../layouts/component/foot.ejs'); -%>