<div class="plan-features d-flex flex-column align-items-center gap-3 px-6 py-5">
    <i class="fa-solid fa-clock fs-high-title text-primary"></i>
    <h3 class="fs-mid-title fw-bold"><%- planFeatures.title %></h3>
    <span class="fs-big fw-semibold"><%- planFeatures.text %></span>
</div>