<%- include('../../layouts/component/head.ejs' , {title: "component", addCount: 0}); -%>

<div class="w-20">
    <%- include('./content.ejs', {planFeatures: t.components.planFeatures}); -%>
</div>

<%- include('../../layouts/component/foot.ejs'); -%>