<%- include('../../layouts/component/head.ejs' , {title: "component", addCount: 0}); -%>

<div class="w-100">
    <%- include('./content.ejs'); -%>
</div>

<%- include('../../layouts/component/foot.ejs'); -%>