$font-family-primary: "primary";
$font-primary-default: sans-serif, 'Courier New', Courier, monospace;
$font-primary-folder: "vazir";

@font-face {
    font-family: $font-family-primary;
    font-weight: 900;
    src: url("../fonts/#{$font-primary-folder}/Vazir-Black.woff2"),url("../fonts/#{$font-primary-folder}/Vazir-Black.woff"),url("../fonts/#{$font-primary-folder}/Vazir-Black.ttf"),url("../fonts/#{$font-primary-folder}/Vazir-Black.eot"),;
}

@font-face {
    font-family: $font-family-primary;
    font-weight: 400;
    src: url("../fonts/#{$font-primary-folder}/Vazir-Regular.woff2"),url("../fonts/#{$font-primary-folder}/Vazir-Regular.woff"),url("../fonts/#{$font-primary-folder}/Vazir-Regular.ttf"),url("../fonts/#{$font-primary-folder}/Vazir-Regular.eot"),;
}

@font-face {
    font-family: $font-family-primary;
    font-weight: 100;
    src: url("../fonts/#{$font-primary-folder}/Vazir-Thin.woff2"),url("../fonts/#{$font-primary-folder}/Vazir-Thin.woff"),url("../fonts/#{$font-primary-folder}/Vazir-Thin.ttf"),url("../fonts/#{$font-primary-folder}/Vazir-Thin.eot"),;
}

.font-#{$font-family-primary}{
    font-family: var("--font-#{$font-family-primary}"), $font-primary-default;
}