<div class="project-banner shadow bg-white rounded-2 px-12 justify-content-center flex-column d-flex gap-6">
    <h3 class="z-1 fw-bold fs-mid-title text-secondary mt-6"><%- projectBanner.title %></h3>
    <p class="z-1 fs-title text-text mb-8"><%- projectBanner.description %></p>
    <a href="" class="z-1 d-flex align-items-center gap-2 mt-4 text-decoration-none card-button mb-10">
        <span class="fs-big fw-bold transition text-primary"><%- projectBanner.button %></span>
        <i class="fa-solid fa-arrow-right-long text-color transition text-primary"></i>
    </a>
</div> 