
    <div class="comment w-100 ">

        <div class="bg-dark border-0 h-100 p-4 rounded-3 d-flex flex-column gap-4 comment-hover transition-300">

            <i class="fa-solid fa-quote-left text-primary"></i>
            <p class="text-text "><%= t.components.comment.txt %></p>

            <span class="text-secondary"><%= t.components.comment.name %></span>

            <div class="text-primary">
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
            </div>

        </div>

    </div>