<div class="secondary-project-card shadow bg-white position-relative">
    <img class="w-100 " src="<%- getMedia(lang, 'components/news.jpg', 'images') %>" class="img-size">
    <div class="d-flex gap-3 p-3 flex-row align-items-center justify-content-between position-absolute bottom-0 w-100"> 
        <div class="d-flex gap-2 flex-column">
            <h3 class="fs-title fw-bold text-secondary mb-0"><%- projectCard.title %></h3>
            <span class="text-secondary fs-normal"> <%- projectCard.location %></span>
        </div>
        
        
        <a href="" class="fs-title fw-bold card-button transition">
            <i class="fa-solid fa-arrow-right-long transition text-secondary"></i> 
        </a>
    </div>
</div> 