// @use "../../miz/sass/global-functions/_images" as *;
// @use "../../miz/sass/global-functions/_colors" as *;

#main-hero{
    background-image: linear-gradient(to right, rgba(15, 18, 22, 0.78) 0%, rgba(15, 18, 22, 0.52) 35%, rgba(15, 18, 22, 0.18) 65%, rgba(15, 18, 22, 0) 100%), url("../media/images/en/single/herohomepage.png");
    background-size: 100% 100%;
    background-position: center center;
    background-repeat: no-repeat;
}
.cardhero-title{
    text-transform: capitalize;
    color: var(--on-secondary);
    font-weight: 700;
    font-size: 2rem;
}

.highlight {
    font-size: 2rem;
  color: var(--primary);
}

#main-hero .border-play {
  border: 1px solid var(--primary);
  width: 65px;
  height: 65px;
}

#main-hero  .card-play {
  max-width: 350px;
  backdrop-filter: blur(5px);
}

