<div id="subscribeCard" class="d-flex flex-column gap-2 align-items-center justify-content-between bg-black rounded-1 p-4">
    <div class="subscribe-icon rounded-circle border border-primary d-flex justify-content-center align-items-center">
        <img src="<%- getMedia(lang, 'components/subscribe-icon.png', 'images') %>" alt="" class="icon">
    </div>
    <h3 class="fs-title text-white text-center"><%- subscribe.title %></h3>
    <p class="fs-subtitle text-center text-secondary-text"><%- subscribe.subtitle %></p>
    <form action="" class="d-flex flex-column gap-2 container-fluid">
        <input type="text" placeholder="Enter your email" class="fs-subtitle bg-transparent container border rounded-1 border-white px-3 py-2 text-white fw-medium">
        <button type="submit" class="bg-primary text-black d-flex align-items-center gap-4 rounded-1 container-fluid justify-content-center py-2" href="#">
            <span class="fs-small fw-semibold">SUBSCRIBE NOW</span>
            <i class="fas fa-arrow-right-long fs-small"></i>
        </button>
    </form>
</div>