<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../../assets/css/miz.min.css">
    <link rel="stylesheet" href="../../../assets/vendors/bootstrap-5.3.8-dist/css/bootstrap.css">
    <link rel="stylesheet" href="../../../assets/vendors/bootstrap-5.3.8-dist/css/normalize.css">
    <link rel="stylesheet" href="../../../assets/icons/fontawesome/css/all.min.css">
    <link rel="stylesheet" href="./_index.scss">
</head>
<body class="w-25">


    <div class="subscribe border-0 shadow-sm rounded-3 px-4 d-flex flex-column py-4 gap-2 w-100" >

        <h3 class="fw-bold ">Subscribe To Our Newsletter</h3>

        <span class="primary-color fw-semibold text-uppercase small">SUBSCRIBE</span>

        <span class="text-secondary"></span>

        <div class="d-flex w-100">

            <input type="email" class="rounded-start-2 py-2 w-75 text-color" placeholder="Your email address">

            <button class="bg-primary-color px-4 w-25 rounded-end">
                <i class="fa-solid fa-arrow-right"></i>
            </button>

        </div>

        <div class="">

            <input class="form-check-input" type="checkbox" id="policy">

            <label class="text-color" for="policy">I agree to the Privacy Policy</label>

        </div>

    </div>



    <script src="/assets/js/mizchin.min.js"></script>
</body>
</html>