<%- include('../../layouts/component/head.ejs' , {title: "component", addCount: 0}); -%>

<div class="w-20">
    <%- include('./content.ejs', {coreServicesSecondaryCard: t.components.coreServicesSecondaryCard}); -%>
</div>

<%- include('../../layouts/component/foot.ejs'); -%>