<%- include('../layouts/page/head.ejs' , {title: "about-us", addCount: 0}); -%>

    <main class="d-flex flex-column" id="gallery">

        <section class="hero py-20 text-secondary-text d-flex justify-content-start">
            <div class="container d-flex ">
                <div class="d-flex flex-column gap-4 col-10 col-xxl-5 col-xl-6 col-lg-8 align-items-start">
                    <div class="small ">
                        <a href="#">Home</a>
                        <span class="mx-2">›</span>

                        <a href="#">Pages</a>
                        <span class="mx-2">›</span>

                        <span>Gallery</span>
                    </div>
                    <span class="text-primary fw-bold text-uppercase border-secondary border-start px-3 border-3 lh-1">Our Gallery</span>

                    <h1 class="fs-big-title fw-bold">
                        A Glimpse Of Our <br>
                        <span class="text-primary">Work & Achievements</span>
                    </h1>

                    <p class="text-secondary fs-mid-title">
                        Explore our gallery to see the quality, craftsmanship,
                        and attention to detail that define every project we build.
                    </p>
                </div>
            </div>
        </section>

        <section class="gallery container py-8 d-flex flex-column gap-8 align-items-center d-flex">
             
            <div class="d-flex align-items-center justify-content-between w-100">

                <ul class="gallery-filter d-flex align-items-center fw-semibold fs-small">
                    <li class="px-1 px-xxl-5 px-xl-5 px-lg-5 px-md-5 px-sm-2 py-2 d-flex align-items-center">
                        <a class=" active" href="#">
                            All Galleries
                        </a>
                    </li>

                    <li class="px-1 px-xxl-5 px-xl-5 px-lg-5 px-md-5 px-sm-2 py-2 d-flex align-items-center">
                        <a class="" href="#">
                            Residential
                        </a>
                    </li>

                    <li class="px-1 px-xxl-5 px-xl-5 px-lg-5 px-md-5 px-sm-2 py-2 d-flex align-items-center">
                        <a class="" href="#">
                            Commercial
                        </a>
                    </li>

                    <li class="px-1 px-xxl-5 px-xl-5 px-lg-5 px-md-5 px-sm-2 py-2 d-flex align-items-center">
                        <a class="" href="#">
                            Industrial
                        </a>
                    </li>

                    <li class="px-1 px-xxl-5 px-xl-5 px-lg-5 px-md-5 px-sm-2 py-2 d-flex align-items-center">
                        <a class="" href="#">
                            Interior
                        </a>
                    </li>

                    <li class="px-1 px-xxl-5 px-xl-5 px-lg-5 px-md-5 px-sm-2 py-2 d-flex align-items-center">
                        <a class="" href="#">
                            Infrastructure
                        </a>
                    </li>
                </ul>

                <div class="text-lg-end d-flex gap-6 align-items-center border rounded px-4 py-1 fs-small">
                    <select class="form-select sort-select">
                        <option>Latest First</option>
                        <option>Oldest First</option>
                    </select>
                    <i class="fa-solid fa-angle-down"></i>
                </div>

            </div>


            <div class="row align-items-stretch justify-content-center">
                <div class="p-1 col-6 col-xxl-4 col-xl-4 col-lg-4 col-md-4 flex-grow-1">
                    <img class="w-100 h-100" src="../../assets/media/images/en/gallery/building.png" alt="">
                </div>
                <div class="p-1 col-6 col-xxl-3 col-xl-3 col-lg-4 col-md-4 flex-grow-1">
                    <img class="w-100 h-100" src="../../assets/media/images/en/gallery/ChatGPT Image Jul 12, 2026, 03_39_32 AM.webp" alt="">
                </div>
                <div class="p-1 col-6 col-xxl-4 col-xl-4 col-lg-4 col-md-4 flex-grow-1">
                    <img class="w-100 h-100" src="../../assets/media/images/en/gallery/ChatGPT1.png" alt="">
                </div>
                <div class="p-1 col-6 col-xxl-3 col-xl-3 col-lg-4 col-md-4 flex-grow-1">
                    <img class="w-100 h-100" src="../../assets/media/images/en/gallery/ChatGPT4.png" alt="">
                </div>
                <div class="p-1 col-6 col-xxl-3 col-xl-3 col-lg-4 col-md-4 flex-grow-1">
                    <img class="w-100 h-100" src="../../assets/media/images/en/gallery/ChatGPT2.png" alt="">
                </div>
                <div class="p-1 col-6 col-xxl-3 col-xl-3 col-lg-4 col-md-4 flex-grow-1">
                    <img class="w-100 h-100" src="../../assets/media/images/en/gallery/ChatGPT3.png" alt="">
                </div>
                <div class="p-1 col-6 col-xxl-3 col-xl-3 col-lg-4 col-md-4 flex-grow-1">
                    <img class="w-100 h-100" src="../../assets/media/images/en/gallery/ChatGPT4.png" alt="">
                </div>
                <div class="p-1 col-6 col-xxl-4 col-xl-4 col-lg-4 col-md-4 flex-grow-1">
                    <img class="w-100 h-100" src="../../assets/media/images/en/gallery/ChatGPT6.png" alt="">
                </div>
                <div class="p-1 col-6 col-xxl-4 col-xl-4 col-lg-4 col-md-4 flex-grow-1">
                    <img class="w-100 h-100" src="../../assets/media/images/en/gallery/news.jpg" alt="">
                </div>
                <div class="p-1 col-6 col-xxl-4 col-xl-4 col-lg-4 col-md-4 flex-grow-1">
                    <img class="w-100 h-100" src="../../assets/media/images/en/gallery/photo-1486406146926-c627a92ad1ab.jpg" alt="">
                </div>
                <div class="p-1 col-6 col-xxl-4 col-xl-4 col-lg-4 col-md-4 flex-grow-1">
                    <img class="w-100 h-100" src="../../assets/media/images/en/gallery/projects.jpg" alt="">
                </div>
                <div class="p-1 col-6 col-xxl-4 col-xl-4 col-lg-4 col-md-4 flex-grow-1">
                    <img class="w-100 h-100" src="../../assets/media/images/en/gallery/building.png" alt="">
                </div>
                <div class="p-1 col-6 col-xxl-4 col-xl-4 col-lg-4 col-md-4 flex-grow-1">
                    <img class="w-100 h-100" src="../../assets/media/images/en/gallery/ChatGPT1.png" alt="">
                </div>
                <div class="p-1 col-6 col-xxl-4 col-xl-4 col-lg-4 col-md-4 flex-grow-1">
                    <img class="w-100 h-100" src="../../assets/media/images/en/gallery/ChatGPT4.png" alt="">
                </div>
                <div class="p-1 col-6 col-xxl-4 col-xl-4 col-lg-4 col-md-4 flex-grow-1">
                    <img class="w-100 h-100" src="../../assets/media/images/en/gallery/ChatGPT2.png" alt="">
                </div>
                <div class="p-1 col-6 col-xxl-4 col-xl-4 col-lg-4 col-md-4 flex-grow-1">
                    <img class="w-100 h-100" src="../../assets/media/images/en/gallery/ChatGPT3.png" alt="">
                </div>
            </div>

            <button class="seeMore d-flex gap-8 px-3 py-2 rounded border fs-small fw-bold align-items-center">
                <span class="text-uppercase">LOAD MORE IMAGES</span>
                <i class="fa-solid fa-arrow-down"></i>
            </button>
        </section>

        <section class="project-cta py-0 text-light">
            <div class="container py-8 px-20">
                <div class="d-flex align-items-center justify-content-between flex-column flex-xxl-row  flex-xl-row gap-4">

                    <div class="d-flex flex-column gap-4">
                        <span class="text-primary">LET'S BUILD TOGETHER</span>

                        <h4 class="fw-bold fs-high-title">Have A Project In Mind?</h4>

                        <p class="text-text">
                            We're here to help you turn your ideas into reality
                            with quality and precision.
                        </p>
                    </div>

                    <div class="text-lg-end">
                        <a href="#" class="cta-btn d-flex align-items-center gap-2">
                            <span class="">GET A QUOTE</span>
                            <i class="fa-solid fa-arrow-right"></i>
                        </a>
                    </div>

                </div>
            </div>
        </section>
        

    </main>

    <%- include('../components/footer/content.ejs', {accountFeatures: t.components.accountFeatures}); -%>

    <script src="./assets/js/mizchin.min.js"></script>
</body>

</html>

